# Extension > Nettrine
#
extensions:

    # Nettrine
    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension

    # DBAL
    dbal: Nettrine\DBAL\DI\DbalExtension
    dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)

    # ORM
    orm: Nettrine\ORM\DI\OrmExtension
    orm.cache: Nettrine\ORM\DI\OrmCacheExtension
    orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
    orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

    # Migrations
    migrations: Nettrine\Migrations\DI\MigrationsExtension
    # Fixtures
    fixtures: Nettrine\Fixtures\DI\FixturesExtension

dbal:
    debug:
        panel: %debugMode%
        sourcePaths: [%appDir%]
    connection:
        host: %database.host%
        user: %database.user%
        password: %database.password%
        dbname: %database.dbname%
        driver: %database.driver%
        types:
            datetime:
                class: App\Model\Database\Entity\Types\DateTimeType
                commented: false

orm:
    entityManagerDecoratorClass: App\Model\Database\EntityManager
    configuration:
        autoGenerateProxyClasses: %debugMode%

orm.annotations:
    paths:
        - %appDir%/model/Database/Entity
    excludePaths: []

migrations:
	table: doctrine_migrations
	column: version
	directory: db/Migrations
	namespace: Database\Migrations
	versionsOrganization: null

fixtures:
	paths:
		- db/Fixtures

decorator:
	Doctrine\Common\EventSubscriber:
		tags: [nettrine.subscriber]