# Parameters
#
parameters:

	# System
	system:
		error:
			email: test@localhost.net
			presenter: Front:Error

	# Project
	project:
		rev: "1.0.0"

	# File
	dir:
	    upload: /upload
	    files: /files

	# Mailing
	mailing:
		from: test@localhost
		from_name: Testovac

	# STMP
	smtp:
		host: localhost
		username: fake
		password: fake