# Services
#
services:
	# Routing ================
	- App\Model\Router\RouterFactory
	router:
		class: Nette\Application\IRouter
		factory: @App\Model\Router\RouterFactory::create


	# Security ================
	nette.userStorage:
		setup:
			- setNamespace("Test")

	security.passwords: App\Model\Security\Passwords
	security.user: App\Model\Security\SecurityUser
	security.authenticator: App\Model\Security\Authenticator\UserAuthenticator


	# Model ===================
	- App\Model\File\DirectoryManager(%appDir%, %dir.upload%, %dir.files%)


	# Control ===================
	- App\UI\Control\Dropzone\DropzoneFactory


	# Grid ===================
	- App\UI\Grid\GridFactory
	- App\UI\Grid\User\UserGridFactory


	# Console ================
	- {class: App\Model\Console\HelloCommand, tags: {console.command: hello}}


	# Domain =================
	- App\Domain\Order\OrderLogSubscriber

	## File
	- App\Model\File\FileFactory
	- App\Domain\File\FileFacade

	## User
	- App\Domain\User\CreateUserFacade
	- App\Domain\User\UpdateUserFacade

	## Gallery
	- App\Domain\Card\CreateCardFacade

decorator:
    # File
    App\Model\File\FileFactory:
        setup:
            - setThumb(%thumb%)