# Services
#
services:
	# Forms
	#- App\UI\Form\FormFactory


	# Security ================
	nette.userStorage:
		setup:
			- setNamespace("Test")


	# Routing ================
	- App\Model\Router\RouterFactory
	router:
		class: Nette\Routing\Router
		factory: @App\Model\Router\RouterFactory::create