# Services
#
services:
	# Routing ================
	- App\Model\Router\RouterFactory
	router:
		class: Nette\Application\IRouter
		factory: @App\Model\Router\RouterFactory::create


	# Security ================
	nette.userStorage:
		setup:
			- setNamespace("Test")

	security.passwords: App\Model\Security\Passwords
	security.user: App\Model\Security\SecurityUser
	security.authenticator: App\Model\Security\Authenticator\UserAuthenticator


	# Grid ===================
	- App\UI\Grid\GridFactory
	- App\UI\Grid\User\UserGridFactory


	# Controls ===============
	- App\UI\Control\Uploader\UploaderFactory(%dir.files%)


	# Console ================
	- {class: App\Model\Console\HelloCommand, tags: {console.command: hello}}


	# Domain =================
	- App\Domain\Order\OrderLogSubscriber

	# User
	- App\Domain\User\CreateUserFacade
	- App\Domain\User\UpdateUserFacade

decorator:
    App\Modules\Admin\File\FilePresenter:
        setup:
            - setDir(%dir.files%)